html, body, #nonfooternav {
  height: 100%;
	margin: 0;
	padding: 0;
	min-height: 600px;
}

#welcomehead {
  overflow: hidden;
	padding: 10px 10px 4px 10px;
}
#logo {
	float: left;
}
#customheader {
	background: transparent url(/common/images/bodyback2.jpg) repeat-x;
}
#hero {
	position: relative;
	text-align: center;
}
#hero > img {
  max-width: 100%;
}
#download {
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 100%;
	height: 26px;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}
#download span {
	text-decoration: none;
	display: block;
	font: 12px/26px sans-serif;
	text-align: right;
	color: rgba(255,255,255,0.95);
	text-shadow: 0 0 4px #000;
}
#download span img {
	margin-top: -14px;
	float: right;
	padding: 0 8px 0 5px;
}
#container {
	margin-top: -4px;
	padding: 10px;
	color: #505050;
}
#footer {
	margin: 40px 0 20px 0;
	font-size: 64.7%;
}
#footer a {
	text-decoration: none;
	color: #505050
}
h2.lensname {
	display: none;
	color: #333;
	font-family: serif;
	font-size: 120%;
	margin: 0;
	padding: 6px;
}
.lens-legend {
	line-height: 24px;
	margin: 0 0 1em 0;
}
#content .lens-legend p, .lens-legend p {
	margin: 0 0 0.25em 0;
}
.lens-legend img {
	float: left;
	padding-right: 3px;
	vertical-align: middle;
}
.lens-legend strong {
	padding-right: 5px;
	font-weight: bold;
	color: #000;
}
