html, body, #nonfooternav {
  height: 100%;
	margin: 0;
	padding: 0;
	min-height: 600px;
}

#container {
	font-size: 88.24%;
	line-height: 1.33em;
}

#welcomehead {
  overflow: hidden;
	padding: 10px 10px 4px 10px;
}
#logo {
	float: left;
}
#customheader {
	background: transparent url(/common/images/bodyback2.jpg) repeat-x;
}
#hero {
	position: relative;
	text-align: center;
}
#hero > img {
  max-width: 100%;
}
#download {
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 100%;
	height: 26px;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}
#download span {
	text-decoration: none;
	display: block;
	font: 12px/26px sans-serif;
	text-align: right;
	color: rgba(255,255,255,0.95);
	text-shadow: 0 0 4px #000;
}
#download span img {
	margin-top: -14px;
	float: right;
	padding: 0 8px 0 5px;
}
#container {
	margin-top: -4px;
	padding: 10px;
	color: #505050;
}
