#tabs {
  display: none;
}
#tabbodies,
.shaded #tabbodies {
  position: relative;
  margin-top: .5em;
  overflow: hidden;
}
.tabbody {
  display: block !important;
}
#stopsTab {
  border-left: 1px solid #bbb;
  padding-bottom: 0;
}
#stopsTab .results {
  border-radius: 0;
  -webkit-border-radius: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: transparent;
  margin-bottom: -1px;
}
#mapTab {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 352px;
}
.portrait #mapTab #map_dynamic {
  width: 350px;
  height: 600px;
}
.portrait .tabbody {
  min-height: 612px;
}
.portrait #stopsTab {
  margin-left: 368px;
}
.landscape #mapTab #map_dynamic {
  width: 475px;
  height: 400px;
}
.landscape .tabbody {
  min-height: 412px;
}
.landscape #stopsTab {
  margin-left: 493px;
}
