#timestamp {
	display: block;
	line-height: 1.33em;
	margin-top: 8px;
}

#stops {
  margin: 0px -12px;
}
#stops .results {
  margin-left: 0;
  margin-right: 0;
}

#listView li.icon {
  min-height: 0;
}

#listView li.icon a {
  padding: 13px 25px 13px 25px;
  line-height: 1.2em;
}
#listView li.icon a .stoptime {
  float: right;
  line-height: inherit;
}
#listView li.icon img {
  width: 18px;
  height: 19px;
  top: 14px;
}

.sid {
	display: inline-block;
	width: 18px;
	text-align: center;
	color: #999;
}

.current .sid {
	color: #fff;
	display: none;
}

#map_static, #maptab {
	text-align: center;
}

#map_static img {
	border: 1px solid #999;
}

#map_dynamic {
  clear: both;
  height: 300px;
  margin: 0;
	border: 1px solid #999;
	overflow: hidden;
}

.map-tabbody #map_dynamic {
  margin: 0;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#map_loading {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#map_loading img {
  vertical-align: middle;
}

#mapzoom {
	position: relative;
	height: 50px;
}

#mapzoom a {
	display: block;
	position: absolute;
	width: 40px;
	height: 34px;
	margin-top: 8px;
	background-image: url(/modules/map/images/buttons.png);
	background-repeat: no-repeat;
}

#zoomin {
    top: 0;
    left: 7%;
    margin: 0 0 0 -19px;
    background-position: 0 0;
}

#zoomout {
    top: 0;
    left: 28%;
    margin: 0 0 0 -16px;
    background-position: -40px 0;
}

#recenter {
    top: 0;
    left: 50%;
    margin: 0 0 0 -19px;
    background-position: -120px 0;
}

#locateMe {
    top: 0;
    left: 72%;
    margin: 0 0 0 -19px;
    background-position: -160px 0;
}
#locateMe.enabled {
    background-position: -200px 0px;
}

#fullscreen {
    top: 0;
    bottom: auto;
    right: 7%;
    margin: 0 -19px 0 0;
    background-position: -80px 0;
}

.stop-map {
    border: 2pt solid white;
}

.logoContainer {
  position: relative;
}
#servicelogo {
  display: block;
  float: right;
  margin-top: -5px;
  margin-left: -5px;
}
#serviceinfo {
  display: block;
  float: right;
  padding-right: 15px;
  line-height: 24px;
}

.timestamp {
	position: absolute;
	right: 10px;
	top: 14px;
	float: right;
	font-size: 82.35%;
	font-weight: normal;
	color: #506d8e;
}

.ampm {
	font-size: 75%;
	padding-left: 0.2em
}

#notabs {
  padding-top: 11px;
}

#scheduleViewWrapper {
  margin: 0 -4px;
}
table#scheduleView {
  margin: 0;
  font-size: 90%;
	border-spacing: 0;
}
table#scheduleView tr td {
  padding: 0;
  border: none;
}
table#scheduleView tr td a {
  display: block;
  text-decoration: none;
}
table#scheduleView .stopicons td div {
  padding: 4px 7px 0px 7px;
  margin-bottom: 6px;
}
table#scheduleView .stopnames td {
  padding-top: 6px;
  border-top: solid 1px #aaa;
}
table#scheduleView .stopnames td.first {
  padding-top: 0px;
  border-top: none;
}
table#scheduleView .stopnames td a {
  color: white;
  padding: 6px 7px;
  border-top: solid 1px #444;
  background: #666 url(/common/images/action-arrow-white@2x.png) no-repeat center right;
  background-size: 14px 17px;
}
table#scheduleView .stoptimes td {
  background: white;
  font-size: 82.353%;
  padding: .5em 0;
}
table#scheduleView .stoptimes td,
table#scheduleView .stopicons td div {
  border-left: 1px dashed #aaa;
}
table#scheduleView .stoptimes td.first,
table#scheduleView .stopicons td.first div {
  border-left: none;
}
table#scheduleView .stoptimes td.skipped {
  color: #777;
}
h3.direction {
  margin-top: -0.5em;
}
h2 .direction {
  font-size: 90%;
}
