#timestamp {
	display: block;
	line-height: 1.33em;
	margin-top: 8px;
}

#schedule {
  margin: 0px -12px;
}

#schedule li.icon {
  min-height: 0;
}

#schedule li.icon a {
  padding: 13px 25px 13px 25px;
  line-height: 1.2em;
}
#schedule li.icon a .stoptime {
  float: right;
  line-height: inherit;
}
#schedule li.icon img {
  width: 18px;
  height: 19px;
  top: 14px;
}

.sid {
	display: inline-block;
	width: 18px;
	text-align: center;
	color: #999;
}

.current .sid {
	color: #fff;
	display: none;
}

#map_static, #maptab {
	text-align: center;
}

#map_static img {
	border: 1px solid #999;
}

#map_dynamic {
  clear: both;
  height: 300px;
  margin: 0 12px;
	border: 1px solid #999;
	overflow: hidden;
}

#mapTab #map_dynamic {
  margin: 0;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#map_loading {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#map_loading img {
  vertical-align: middle;
}

.stop-map {
    border: 2pt solid white;
}

.logoContainer {
  position: relative;
}
#servicelogo {
  display: block;
  float: right;
  margin-top: -5px;
  margin-left: -5px;
}
#serviceinfo {
  display: block;
  float: right;
  padding-right: 15px;
  line-height: 24px;
}

.timestamp {
	position: absolute;
	right: 10px;
	top: 14px;
	float: right;
	font-size: 82.35%;
	font-weight: normal;
	color: #506d8e;
}

.ampm {
	font-size: 75%;
	padding-left: 0.2em
}

#notabs {
  padding-top: 11px;
}
