#timestamp {
	display: block;
	line-height: 1.33em;
	margin-top: 8px;
}

#tabbodies {
  border-radius: 0;
}

.tabbody {
	min-height: 260px;
}

#stops {
  margin: 0px -0.75em;
}

#listView li.icon {
  min-height: 0;
}

#listView li.icon a {
  margin: 0;
  padding: 0.7em 25px 0.6em 25px;
  line-height: 1.2em;
}
#listView li.icon a .stoptime {
  float: right;
  line-height: inherit;
}
#listView li.icon img {
  width: 15px;
  height: 12px;
  top: 14px;
}
#map_static, #maptab {
	text-align: center;
}

#map_static img {
	border: 1px solid #999;
}

.stop-map {
    border: 2pt solid white;
}
.logoContainer {
  position: relative;
}
#servicelogo {
  display: inline-block;
  float: right;
}
.ampm {
	font-size: 75%;
	padding-left: 0.2em
}

#notabs {
  padding-top: 11px;
}

table#scheduleView {
  margin: 0;
  font-size: 90%;
	border-spacing: 0;
}
table#scheduleView tr td {
  padding: 0;
  border: none;
}
table#scheduleView tr td a {
  display: block;
  text-decoration: none;
}
table#scheduleView .stopicons td div {
  padding: 4px 7px 0px 7px;
  margin-bottom: 6px;
}
table#scheduleView .stopnames td {
  padding-top: 6px;
  border-top: solid 1px #aaa;
}
table#scheduleView .stopnames td.first {
  padding-top: 0px;
  border-top: none;
}
table#scheduleView .stopnames td a {
  color: white;
  padding: 6px 7px;
  border-top: solid 1px #444;
  background: #666 url(/common/images/action-arrow-white.gif) no-repeat center right;
  background-size: 14px 17px;
}
table#scheduleView .stoptimes td {
  background: white;
  font-size: 82.353%;
  padding: .5em 0;
}
table#scheduleView .stoptimes td,
table#scheduleView .stopicons td div {
  border-left: 1px dashed #aaa;
}
table#scheduleView .stoptimes td.first,
table#scheduleView .stopicons td.first div {
  border-left: none;
}
table#scheduleView .stoptimes td.skipped {
  color: #777;
}
h3.direction {
  margin-top: -0.5em;
}
h2 .direction {
  font-size: 90%;
}
