html {
	font: normal normal normal 14px/20px sans-serif !important;
}
a#startlink,
a#resumelink {
	text-decoration: none;
	display: block;
	height: 68px;
	padding: 12px 10px 6px 10px;
}
a#startoverlink, a#resumelink2 {
	text-decoration: none;
	display: block;
	height: 30px;
	padding: 0 10px 10px 10px;  
}
