html, body, #nonfooternav {
  height: 100%;
	margin: 0;
	padding: 0;
	min-height: 600px;
}
#container {
  min-height: 0px;
}

#navbar {
	height: 34px;
	padding: 3px 4px;
	background: #f9f9f3 url(/common/images/navback.jpg) bottom repeat-x;
	font-family: serif;
	font-size: 16px;
  margin: 0;
}
#homelink {
	display: block;
	line-height: 34px;
	height: 34px;
	float: left;
	text-decoration: none;
	color: #000;
	text-shadow: rgba(0,0,0,0.13) -1px -1px 1px,rgba(255,255,255,0.85) 1px 1px 1px;
}
#homelink img {
	float: left;
	margin-right: 8px;
	vertical-align: middle;
}
#helplinks {
	list-style-type: none;
	float: right;
	line-height: 34px;
	margin: 0;
	padding: 0;
}
#helplinks li {
	display: inline;
	margin-left: 6px;
}
#helplinks a {
	text-decoration: none;
	color: #4c6680;
	text-shadow: rgba(0,0,0,0.13) -1px -1px 1px,rgba(255,255,255,0.85) 1px 1px 1px;
	padding: 0 10px;
}
#pagehead {
	position: relative;
	height: 108px;
	background: #7c8893 url(/common/images/headback.jpg) repeat-x;
	overflow: hidden;
}
#pagehead.brief {
  height: 56px;
}
#pagetitle {
	display: table;
	width: 100%;
}
#pagetitle h1 {
	margin: 0 auto;
	height: 56px;
	width: 200px;
	display: table-cell;
	vertical-align: middle;
	padding: 0 60px;
	font: 20px/1em serif;
	text-align: center;
	color: #fff;
	text-shadow: rgba(0,0,0,0.7) 0 1px 4px;
}
#pagehead #sidenav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
}
#pagehead #sidenav a {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	padding: 3px 2px;
	top: 0;
}
#pagehead #sidenav #previous {
	left: 0;
}
#pagehead #sidenav #next {
	right: 0;
}
#pagetitle.overview h1 {
  text-align: left;
  padding: 0px 10px;
}
#pagehead #viewtoggle {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 2px;
	height: 56px;
	font: 15px/56px serif;
	color: #cbe1f3;
}
#pagehead #viewtoggle a, 
#pagehead #viewtoggle a:visited,
#pagehead #viewtoggle span {
	color: #cbe1f3;
	padding: 0 8px;
	text-decoration: none;
}
#pagehead #viewtoggle a.active {
	color: #fff;
}
#pagehead #viewtoggle .spacer {
  padding: 0;
}
#tabs {
	position: absolute;
	width: 100%;
	bottom: 0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 47px;
}
#tabs li {
	float: left;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0px;
	border-radius: 0px;
}
#tabs li a {
	display: block;
	width: 92%;
	margin: 0 4%;
	height: 46px;
	padding: 0;
	text-align: center;
	background: #485761 url(/common/images/tabback.jpg) repeat-x;
	border: 1px solid rgba(0,0,0,0.2);
	border-top-color: rgba(255,255,255,0.33);
	border-bottom-color: rgba(255,255,255,0);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#tabs li.active a {
	background: #f6f6f0 url(/common/images/tabback-active.jpg) repeat-x;
	padding: 0;
	
}
#tabs a img {
	padding: 5px;
}
#content,
#tabbodies {
	padding: 4px;
	background: url(/common/images/bodyback2.jpg) repeat-x;
	font: 15px/20px sans-serif;
	color: #464640;
	min-height: 240px;
}
#tabbodies{
  min-height: 210px;
}
#pagehead.brief + #content {
  top: 96px;
}

#content p, #content ul, #content ol,
#tabbodies p, #tabbodies ul, #tabbodies ol {
	margin: 15px 5px;
}
#content p.caption,
#tabbodies p.caption {
	color: #666;
	font: 12px/15px sans-serif;
	font-style: italic;
	text-align: center;
	margin: 2px 5px 15px 5px;
}
.tabbody {
  padding: 0;
  min-height: 0px;
}
.listrow {
	padding: 3px 4px;
	font: 12px/13px sans-serif;
	color: #505050;
}
.listrow h2 {
	margin: 0 0 1px 0;
	padding: 0;
	font: 14px/14px sans-serif;
	font-weight: bold;
	color: #222;
}
.listrow p {
	margin: 0;
	overflow: hidden;
	height: 2.5em;
}
.listthumb {
	position: relative;
	float: left;
	margin: -3px 6px -3px -4px;
}
.listicons {
	float: right;
	width: 44px;
	height: 100%;
	margin: -1px -1px -1px 7px;
}
.thumbicons {
  position: absolute;
  top: 2px;
  right: 2px;
}
.listicons2 {
	float: right;
}
.listicons2 img {
	width: 16px;
	height: 16px;
	margin: -2px 0;
	vertical-align: baseline;
}
#nextstop {
	border-top: 1px solid rgba(0,0,0,0.15);
	height: 44px;
	color: rgba(255,255,255,0.85);
	text-shadow: rgba(0,0,0,0.6) 0px 0px 1px;
	background-color: rgba(0,0,0,0.1);
}
#nextstop h2 {
	color: rgba(255,255,255,1.0);
	text-shadow: rgba(0,0,0,0.6) 0px 0px 2px;
}
#nextstop #starthere {
  text-align: right;
}
#nextstop #starthere a, #nextstop #starthere a:visited {
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
	position: relative;
  color: #fff;
  text-decoration: none;
  padding-right: 29px;
}
#nextstop #starthere img {
  position: absolute;
  top: 0;
  right: 0;
}

#mapimage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#zoomup {
	opacity: 0;
	width: 0;
	position: absolute;
	z-index: 100;
	top: 96px;
	left: 0;
	border-top: 1px solid rgba(0,0,0,0.7);
	border-bottom: 1px solid #000;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out; /* Safari and Chrome */
}
#zoomup.zoomed {
	width: 100%;
	opacity: 1.0;
}
.zoomicon {
	position: absolute;
	bottom: 4px;
	right: 2px;
	z-index: 100;
}
.listthumb .zoomicon {
	width: 16px;
	height: 16px;
}

#tabbodies {
  margin:0;
}

/* Map */

#helptext {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 70%;
  text-align: center;
}

#map_container {
  position: absolute;
  top: 148px;
  left: 0;
  width: 100%;
  height: 270px;
}
#map_container.tappable {
  top: 169px;
  height: 250px;
}
#map_container + #footer {
  display: none;
}
#map_canvas {
  width: 100%;
  height: 100%;
}

#map_loading {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

#map_loading img {
  vertical-align: middle;
}

.map_infowindow {
}
.map_name {
  font-weight: bold;
}
.map_address {
  font-size: 70%;
  line-height: normal;
}

#content .results {
  margin: 0;
  padding: 0;
}

#content .results li {
  margin: 0;
  padding: 0;
  clear: both;
}
#content .results li a {
  margin: 0;
  padding: 0 25px 0 0;
  height: 52px;
  position: relative;
}
#content .results li a .listthumb {
  padding: 1px;
  margin: 0;
  height: 50px;
}
#content .results li a .listpin {
  float: left;
  height: 48px;
  width: 20px;
  padding: 2px;
}
#content .results li a .listpin .current {
  padding-top: 6px;
}
#content .results li a .listpin .visited {
  padding-left: 4px;
  padding-top: 14px;
}

#content .results li a .ellipsis {
  height: 43px;
  overflow: hidden;
  padding: 4px 4px;
}
#content .results li a .ellipsis h2 {
  padding-bottom: 2px;
}

.slideshow {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slideshow .slides {
  position: relative;
}
.slideshow .slides .slide {
  display: none;
}
.slideshow .slides .active {
  display: block;
}

.slideshow .slidenav {
  width: 100%;
  height: 38px;
  text-align: center;
  position: relative;
}
.slideshow .slidenav .slidedot {
  display: inline-block;
  height: 38px;
  width: 12px;
  margin: 0 6px 0;
  background: transparent url(/common/images/page-dot.png) no-repeat center left;
}
.slideshow .slidenav .slidedot.active {
  background-image: url(/common/images/page-dot-current.png);
}
.slideshow .slidenav a {
	display: block;
	width: 47px;
  height: 38px;
	position: absolute;
	top: 0
}
.slideshow .slidenav .previous {
	left: 0;
}
.slideshow .slidenav .next {
	right: 0;
}
#footer {
  text-align: center;
}

