.tabbody {
	padding: 10px;
}
#tabbodies .nav, .tabbody .nav {
	margin: 0 0 0.75em 0;
	border: 1px solid @@@focal_border_color@@@;
}
.tabbody .nonfocal {
	padding: 0;
	margin: 0;
}
.tabbody .nonfocal h3 {
	color: @@@secondary_heading_color@@@;
}
.tabbody h3:first-child {
	margin-top: 0;
}
.tabbody .tabstrip {
	margin: 5px 0 12px 0;
}
#bookmarkContainer {
	margin-top: 0;
}