.nav li.icon {
    padding: 0;
    min-height: 56px;
}

.nav li.icon a {
    margin: 0;
    padding: 10px 26px 14px 46px;
    min-height: 32px;
}

.nav li.icon a img {
    top: 50%;
    margin-top: -17px;
    left: 8px;
    width: 32px;
    height: 32px;
}