#term-selector {
    overflow: hidden; /* make sure this has layout */
}

.courses-splitview {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    height: 400px;
    position: relative;
}

.courses-splitview-listcontainer {
    height: 100%;
    width: 256px;
    position: relative;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
}

.courses-splitview-listcontainer > *,
.courses-splitview-detailwrapper > * {
    overflow: hidden;
}

.courses-splitview-detailwrapper {
    height: 100%;
    position: relative;
    border-top: 1px solid;
    -webkit-box-flex:1;
    -moz-box-flex:1;
}

.courses-splitview-listcontainer a.selected {
    background: #444;
    color: white;
}
.courses-splitview-listcontainer a.selected .smallprint {
    color: white;
}

#courseDetail #tabs {
    width: 100%;
}
#courseDetail #tabs li {
    width: auto;
    min-width: 20%;
}
#courseDetail .tabscount-6 #tabs li {
    min-width: 15%;
}
#courseDetail .tabscount-7 #tabs li {
    min-width: 13%;
}
#courseDetail .tabscount-8 #tabs li {
    min-width: 11%;
}

#courseDetail > div > .loading > div {
    display: inline-block;
    background: @@@focal_background_color@@@;
    border: solid 1px @@@focal_border_color@@@;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    padding: 11px;
}
.course-subtitle .loading {
    margin: 0;
    text-align: left;
}
.course-subtitle .loading img {
    width: 18px;
    height: 14px;
}
