#term-selector {
    overflow: hidden; /* make sure this has layout */
}

.courses-splitview {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    height: 400px;
    position: relative;
}

.courses-splitview-listcontainer {
    height: 100%;
    width: 280px;
    position: relative;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
}

@media only screen and (min-width: 900px) {
    .courses-splitview-listcontainer {
        width: 33%;
        max-width: 360px;
    }
}

.courses-splitview-listcontainer > *,
.courses-splitview-detailwrapper > * {
    overflow: hidden;
}

#courseList .nav {
    margin: 8px;
}

.courses-splitview-detailwrapper {
    height: 100%;
    position: relative;
    border-top: 1px solid;
    -webkit-box-flex:1;
    -moz-box-flex:1;
}

.courses-splitview-listcontainer a {
    background-image: none;
    padding: 10px;
}

.courses-splitview-listcontainer a.selected {
    background: #444;
    color: white;
}
.courses-splitview-listcontainer a.selected .smallprint {
    color: white;
}
.courseListUpdates {
    margin-top: 2px;
}
.courseListUpdates .updateitem {
    display: inline-block;
    min-width: 3em;
}

#courseDetail #tabs {
    width: 100%;
}
#courseDetail #tabs li {
    width: auto;
    min-width: 20%;
}
#courseDetail .tabscount-6 #tabs li {
    min-width: 15%;
}
#courseDetail .tabscount-7 #tabs li {
    min-width: 13%;
}
#courseDetail .tabscount-8 #tabs li {
    min-width: 11%;
}
#courseDetail > div > .loading > div {
    display: inline-block;
    background: @@@focal_background_color@@@;
    border: solid 1px @@@focal_border_color@@@;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    padding: 11px;
}
.course-subtitle .loading {
    margin: 0;
    text-align: left;
}
.course-subtitle .loading img {
    width: 18px;
    height: 14px;
}

.announcementBody * {
    background-color: transparent !important;
}

.nav .announcementBody a {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: inherit;
    background: none;
    color: @@@focal_link_color@@@;
    text-decoration: underline;
}
.announcementTitle {
    font-weight: bold;
}

.announcementPublished {
    margin-top: 1em;
}

.seeall {
    float: right;
    margin-right: 4px;
}

.seeall a {
    display: block;
    text-decoration: none;
    font-size: 82.4%;
    padding: 5px 21px;
    background: url(/common/images/action-arrow.png) right no-repeat;
}