#navbar {
	font-size: 100%;
}
#pagetitle h1 {
	height: 38px;
	margin: 0;
	padding: 2px 120px 0 8px;
	text-align: left;
	font-size: 123.5%;
	line-height: 38px;
}
#pagehead {
	height: 100px;
}
#pagehead.brief {
  height: 40px;
}
#pagehead.tabbed {
	height: 84px;
}
#pagehead #sidenav {
	height: 40px;
	margin-top: 2px;
}
#pagehead #sidenav a {
	height: 40px;
	width: 40px;
	padding: 0;
}
#pagehead #sidenav a img {
	width: 40px; 
	height: 40px;
}
#pagehead #sidenav #previous {
	left: auto;
	right: 50px;
}
.listrow {
	font-size: 75%;
	line-height: 1.2em;
	padding-left: 97px;
}
.listrow h2 {
	padding-bottom: 2px;
}
.listthumb {
	width: 90px;
	height: 60px;
}
#nextstop {
	height: 60px;
	font-size: 88.23%;
}
#nextstop #starthere {
	font-size: 100%;
	height: 60px;
}
#stoplink {
	padding-top: 34px;
}
#zoomthumb {
	width: 90px;
	height: 60px;
}
#pagehead #viewtoggle {
	line-height: 40px;
	height: 36px;
}
#tabs {
	height: 40px;
}
#tabs li a {
	border-color: #4f595e;
	height: 40px;
}
#tabs li.active {
	padding-top: 0;
}
#tabs a img {
	padding: 1px 5px;
}
#content, #tabbodies {
	font-size: 100%;
}
#zoomup {
	top: 80px;
}
