#container {
	font-size: 88.24%;
	line-height: 1.33em;
}

#welcomehead {
  overflow: hidden;
	background: #f0f0ee url(/common/images/bodyback2.jpg) repeat-x;
	padding: 10px;
}
a.startlink {
	text-decoration: none;
	display: block;
	height: 30px;
}
a.logostartlink {
	height: 68px;
}
#welcomefooter a.startlink + a.startlink {
  padding-top: 3px;
}
img.begin, img.startover, img.resume {
	clear: left;
  float: right;
}
#logo {
	float: left;
}
#hero {
	position: relative;
	clear: both;
}
#download {
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 100%;
	height: 26px;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}
#download a {
	text-decoration: none;
	display: block;
	font: 12px/26px sans-serif;
	text-align: right;
	color: rgba(255,255,255,0.95);
	text-shadow: 0 0 4px #000;
}
#download a img {
	margin-top: -14px;
	float: right;
	padding: 0 8px 0 5px;
}
#container {
	margin-top: -4px;
	padding: 10px;
	background: url(/common/images/bodyback2.jpg) repeat-x;
	color: #505050;
}
#footer {
	margin: 40px 0 20px 0;
	font-size: 64.7%;
}
#footer a {
	text-decoration: none;
	color: #505050
}
