#welcomehead {
  overflow: hidden;
	background: #f0f0ee url(/common/images/bodyback2.jpg) repeat-x;
}
a#startlink,
a#resumelink {
	text-decoration: none;
	display: block;
	height: 68px;
	padding: 10px 10px 0 10px;
}
a#startoverlink {
	text-decoration: none;
	display: block;
	height: 40px;
	padding: 10px 10px 0 10px;  
}
#begin, #startover, #resume {
	clear: left;
  float: right;
}
#logo {
	float: left;
}
#hero {
	position: relative;
}
#download {
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 100%;
	height: 26px;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}
#download a {
	text-decoration: none;
	display: block;
	font: 12px/26px sans-serif;
	text-align: right;
	color: rgba(255,255,255,0.95);
	text-shadow: 0 0 4px #000;
}
#download a img {
	margin-top: -14px;
	float: right;
	padding: 0 8px 0 5px;
}
#container {
	margin-top: -4px;
	padding: 10px;
	background: url(/common/images/bodyback2.jpg) repeat-x;
	font: 14px/20px sans-serif;
	color: #505050;
}
#footer {
	margin: 40px 0 20px 0;
	font-size: 64.7%;
}
#footer a {
	text-decoration: none;
	color: #505050
}
