#welcomehead {
	height: 78px;
	background: #f0f0ee url(/modules/tour/images/headback.jpg) repeat-x;
}
a#startlink {
	text-decoration: none;
	display: block;
	height: 68px;
	padding: 10px 10px 0 10px;

}
#logo {
	float: left;
}
#begin {
	clear: left;
	float: right;
}
#hero {
	position: relative;
}
#download {
	display: block;
	position: absolute;
	right: 0;
	bottom: 4px;
	width: 100%;
	height: 26px;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}
#download a {
	text-decoration: none;
	display: block;
	font: 12px/26px sans-serif;
	text-align: right;
	color: rgba(255,255,255,0.95);
	text-shadow: 0 0 4px #000;
}
#download a img {
	margin-top: -14px;
	float: right;
	padding: 0 8px 0 5px;
}
#container {
	margin-top: -4px;
	padding: 10px;
	background: url(/common/images/bodyback2.jpg) repeat-x;
	font: 14px/20px sans-serif;
	color: #505050;
}
h1 {
	font: 19px/20px serif;
	font-weight: normal;
	padding: 0;
	margin: 4px 0 10px 0;
	color: #000;
}
p, dl, ul {
	margin: 0 0 15px 0;
}
dd, dt {
	margin: 0 0 6px 0;
	line-height: 24px;
}
dt {
	clear: both;
	float: left;
	font-weight: bold;
	color: #222;
	padding: 0 4px 0 2px;
}
dt img {
	float: left;
	padding-right: 3px;
	vertical-align: middle;
}
#footer {
	margin: 40px 0 20px 0;
	font-size: 11px;
}
#footer a {
	text-decoration: none;
	color: #505050
}
